.app{width: 100vw;
/* padding: 0 20px; */
}
.main{width: 100vw;}

/* header */
header{  padding: 0 20px;}
.header{
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav--title{
    font-size: 1.6rem;
}
.header__user{
    display: flex;
    align-items: center;
}
.user__name{
    font-size: 1.4rem;
    margin-right: 10px;
}
.user__img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("") center / cover grey;
}

/* nav */
.col{
    /* background-clip: content-box; */
    font-size: 1.6rem;
}
.main__nav{
    /* height: 100vh; */
    height: calc(100vh - var(--height-footer) - var(--height-header));
    border-right: 1px solid #888;
    padding: 20px 20px 0;
}
.nav_item{
    display: block;
    padding: 10px 4px;
    margin-bottom: 8px;
}
.nav_item.active, .nav_item:hover{
    border-radius: 5px;
    border-left: 2px solid var(--color-submit);
    background-color: var(--color-cyan);
}
/* main content*/
.main__content{padding-top: 30px;}
.content__item{
    display: none;padding: 0 30px;
}
.content__item.active{
    display: block;
}
.content__item h4{
    font-weight: 600;
}
/* home balance */
.balance__card.row.no-gutters .card__item{
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: var(--color-card);
}
.card__title{
    color: #888;
    font-weight: 500;
    margin-bottom: 10px;
}
.card__number{
    font-weight: 600;
    font-size: 1.9rem;
}
/* home recent activity */
.recent__header, .suggest__header, .task__card--footer, .task__filter--select{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.recent__header, .suggest__header{margin: 30px 0 20px 0;}
.recent__convert{
    background-color: var(--color-submit);
}

/* home suggest task */
/* .home__suggest{} */
/* .suggest__title{} */
.btn__suggest--read{ color: var(--color-submit);}

.task__card{
    padding: 20px !important;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-table-head);  
    cursor: pointer;  
}
.task__cars--title{    font-weight: 500;}
.task__card--content{font-size: 1.5rem; font-weight: 300;}
.task__card--footer{
    margin: 10px 0 0;
    padding-top: 10px;
    border-top: 1px solid var(--color-table-head);
}
/* filter task button */
.task__filter--btn{display: flex;justify-content: space-around;}
.btn__filter--new{background-color: var(--color-submit);}
.btn__filter--current{color: var(--color-submit);}
/* .task__filter--date{} */
.task__filter--input{
    outline: none;
    border: 1px solid var(--color-card);
    border-radius: 5px;
    padding: 5px;
}
.task__item{
    border: 1px solid var(--color-table-head);
    border-radius: 5px;
}
.btn__task--submit{background-color: var(--color-submit);}
/* footer */
.copy-right{
    height: var(--height-footer);
    line-height: var(--height-footer);
    font-size: 1.6rem;
    text-align: center;
}